# WEB SCRAPPING ASSIGNMENT 4

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
#importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings("ignore") 
import time    



from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By


#importing common exceptions
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

In [2]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
# getting the web page
url= "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [4]:
#Creating empty list
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [7]:
#Scraping data of rank details
try:
    for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[1]')[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [8]:
len(Rank)

30

In [17]:
#Scraping data of rank details
try:
    for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[1]')[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
#Scraping data of video names
try:
    for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[2]')[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
#Scraping data of artist name
try:
    for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[3]')[:30]:
        Artist.append(i.text)
except NoSuchElementException:        
    Artist.append('-')
#Scraping data of upload dates
try:
    for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[5]')[:30]:
        Upload_date.append(i.text)
except NoSuchElementException:        
    Upload_date.append('-')
#Scraping data of views
try:
    for i in driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[4]')[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [25]:
#DATA FRAMEING
Youtube=pd.DataFrame({})
Youtube['Rank'] = Rank
Youtube['Name'] = Name
Youtube['Artist'] = Artist
Youtube['Uploaded Date'] = Upload_date
Youtube['Views'] = Views

In [26]:
#Printing data frame
Youtube

,Rank,Name,Artist,Uploaded Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.09
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.94
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.41
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.78
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.59
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.55
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.79
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.65
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.60
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.51
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.50
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.25
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.01
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.74
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.63
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.62
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.57
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.48
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.46
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.32
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.32
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.32
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.32
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.27
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.25
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.24
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.22
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.21
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.19
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.12

## 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [28]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [29]:
#getting the specified url
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(3)

In [33]:
#Getting url for international fixture and clicking on it
Options_btn = driver.find_element(By.XPATH,'/html/body/nav/div[1]/button').click()

In [34]:
#click on international button
internation= driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()
time.sleep(5)

In [35]:
#Creating empty list
Match_title = []
Series = []
Place = []
Date = []
Time = []

In [36]:
#Scraping data of match title
for i in driver.find_elements(By.XPATH,'//div[@class="fixture-card-top"]'):
    Match_title.append(i.text)
    
#Scraping data of Place
for i in driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]'):
    Place.append(i.text)

In [37]:
print(len(Place), len(Match_title))

8 8

In [40]:
#scraping the date of match
date_tag=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tag:
    date.append(i.text)
len(date)

8

In [48]:
#Scraping series of match
for i in driver.find_elements(By.XPATH,'//h5[@class="fix-text"]'):
    Series.append(i.text)

In [53]:
len(Series)

8

In [51]:
#Scraping time of match
for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
    Time.append(i.text)
Time

['',
 '12:45 PM IST',
 '12:45 PM IST',
 '12:45 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST']

In [56]:
Time=Time[1:9]

In [57]:
len(Time)

8

In [58]:
#DATA FRAMEING
BCCI=pd.DataFrame({})
BCCI['Match Title'] = Match_title
BCCI['Series'] = Series
BCCI['Place'] = Place
BCCI['Date'] = date
BCCI['Time'] = Time

In [59]:
#Printing data frame
BCCI

,Match Title,Series,Place,Date,Time
0,INDIA TOUR OF ZIMBABWE ODI SERIES 2022\n18 AUG...,,"1st ODI - Harare Sports Club, Harare",18 AUG 2022,12:45 PM IST
1,INDIA TOUR OF ZIMBABWE ODI SERIES 2022\n20 AUG...,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"2nd ODI - Harare Sports Club, Harare",20 AUG 2022,12:45 PM IST
2,INDIA TOUR OF ZIMBABWE ODI SERIES 2022\n22 AUG...,,"3rd ODI - Harare Sports Club, Harare",22 AUG 2022,12:45 PM IST
3,ASIA CUP 2022\n28 AUG 2022\n7:30 PM IST,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,1st T20I - Dubai International Cricket Stadium...,28 AUG 2022,7:30 PM IST
4,ASIA CUP 2022\n31 AUG 2022\n7:30 PM IST,,2nd T20I - Dubai International Cricket Stadium...,31 AUG 2022,7:30 PM IST
5,AUSTRALIA TOUR OF INDIA T20 SERIES 2022\n20 SE...,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,1st T20I - Punjab Cricket Association IS Bindr...,20 SEP 2022,7:30 PM IST
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022\n23 SE...,,2nd T20I - Vidarbha Cricket Association Stadiu...,23 SEP 2022,7:30 PM IST
7,AUSTRALIA TOUR OF INDIA T20 SERIES 2022\n25 SE...,ASIA CUP 2022,"3rd T20I - Rajiv Gandhi International Stadium,...",25 SEP 2022,7:30 PM IST

## Q3.Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [61]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [62]:
#getting the specified url
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(3)

In [64]:
#Going to search bar and searching for selenium exception
ser_bar = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")
ser_bar.send_keys("selenium exception handling")
ser_but = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button").click()
time.sleep(3)

In [73]:
#Scraping names of exceptions
Name = []
for i in driver.find_elements(By.XPATH,'//div[@class="gs-title"]'):
    Name.append(i.text)
    
#Scraping descriptions of exceptions  
Description = []
for i in driver.find_elements(By.XPATH,'//div[@class="gs-bidi-start-align gs-snippet"]'):
    Description.append(i.text)

In [75]:
#DATA FRAMEING
Guru=pd.DataFrame({})
Guru['Name of Exception'] = Name
Guru['Description of Exception'] = Description

In [76]:
#Printing data frame
Guru

,Name of Exception,Description of Exception
0,Selenium Exception Handling (Common Exceptions...,23-Jul-2022 ... Common Exceptions in Selenium ...
1,How to Handle SSL Certificate in Selenium WebD...,25-Jun-2022 ... For handling SSL certificate e...
2,Try Catch in Java: Exception Handling Example,09-Jul-2022 ... All these errors are highlight...
3,"Python Exception Handling: try, catch, finally...",09-Jul-2022 ... In this Python exceptional han...
4,"C++ Exception Handling: Try, Catch, throw Example","09-Jul-2022 ... Next, the exception handler wi..."
5,Oracle PL/SQL Exception Handling: Examples to ...,02-Jul-2022 ... Exception-Handling Syntax · Ty...
6,Exception Handling in VB.Net: Try & Catch Hand...,21-Jul-2022 ... In this VB.Net Exception Handl...
7,PHP Try Catch Example: Exception & Error Handl...,26-Jul-2022 ... Learn with example Exception &...
8,JSP Exception Handling: Error Page in JSP,"23-Jul-2022 ... In this tutorial, we will lear..."
9,Selenium Alert & Popup Window Handling: How to...,18-Jun-2022 ... We will also see how to handle...
10,,

## Q4.Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:

A) Rank

B) State

C) GSDP

D) GSDP

E) Share

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [111]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [112]:
#getting the specified url
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(3)

In [114]:
#Clicking on economy section
economy_tag=driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

In [115]:
#clicking to india button
India_tag=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [116]:
# find India GDP and click on it
Ind_gdp=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
Ind_gdp.click()

In [117]:
#Creating empty list
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [118]:
rank_tag=driver.find_elements(By.XPATH, '//td[@class="data1"]')
for i in rank_tag[:33]:
    Rank.append(i.text)
len(Rank)

33

In [119]:
state_tag=driver.find_elements(By.XPATH, '//td[@class="name"]')
for i in state_tag[:33]:
    State.append(i.text)
len(State)

33

In [121]:
# Scraping data of GSDP at current price (19-20)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]'):
    GSDP_1.append(i.text)
len (GSDP_1)

33

In [122]:
#Scraping data of rank
for i in driver.find_elements(By.XPATH, '//td[@class="data1"]'):
    Rank.append(i.text)

    
#Scraping data of state name
for i in driver.find_elements(By.XPATH, '//td[@class="name"]'):
    State.append(i.text)

    
# Scraping data of GSDP at current price (19-20)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]'):
    GSDP_1.append(i.text)

    
#Scraping data of GSDP at current price (18-19)
for i in driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]'):
    GSDP_2.append(i.text)

    
#Scraping data of Share(18-19)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]'):
    Share.append(i.text)

    
#Scraping data of GDP($ billion)
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]'):
    GDP.append(i.text)

In [130]:
#DATA FRAMEING
StatisticsTime=pd.DataFrame({})
StatisticsTime['Rank'] = Rank
StatisticsTime['State'] = State
StatisticsTime['GSDP at current price (19-20)'] = GSDP_1
StatisticsTime['GSDP at current price (18-19)'] = GSDP_2
StatisticsTime['Share(18-19)'] = Share
StatisticsTime['GDP($ billion)'] = GDP

In [131]:
#Printing the data frame
StatisticsTime

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [132]:
driver.close()

## Q5.Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details: A) Repository title

B) Repository description C) Contributors count

D) Language used

In [133]:

#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [134]:
# getting url
url = 'https://github.com/'
driver.get(url)

In [137]:
#clicking on menu
menu=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/button').click()

In [138]:
#clicking on explore button
explore=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]').click()

In [139]:
#clicking ontrending button
trending=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a').click()

In [140]:
#scrapping required data
title=[]
t_tag=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[3]/div/div[2]/article/h1/a')
for i in t_tag:
    title.append(i.text)

In [141]:
descrption=[]
descrp_tag=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[3]/div/div[2]/article/p')
for i in descrp_tag:
    descrption.append(i.text)

In [142]:
language=[]
lang_tag= driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/span[1]')
for i in lang_tag:
    language.append(i.text)

In [144]:
# contributors
url=[]
url_tag=driver.find_elements(By.XPATH, '/html/body/div[4]/main/div[3]/div/div[2]/article/h1/a')
for i in url_tag:
    url.append(i.get_attribute('href'))
len(url)

25

In [145]:
contributor=[]
for i in range(0,len(url)):
    driver.get(url[i])
    time.sleep(10)
    
    try: 
        conti_tag=driver.find_elements(By.XPATH,'//a[@class="Link--primary no-underline"]')
        for count in conti_tag:
            contributor.append(count.text)
    except None:
        contributor.append('N/A')
len(contributor)

104

In [146]:
contri= list(filter(lambda k: 'Contributors ' in k, contributor))
contri

['Contributors 3',
 'Contributors 4',
 'Contributors 300',
 'Contributors 7',
 'Contributors 18',
 'Contributors 827',
 'Contributors 4',
 'Contributors 16',
 'Contributors 466',
 'Contributors 2',
 'Contributors 2',
 'Contributors 76',
 'Contributors 26',
 'Contributors 260',
 'Contributors 100',
 'Contributors 281',
 'Contributors 2,183',
 'Contributors 224',
 'Contributors 5,000+',
 'Contributors 2',
 'Contributors 679',
 'Contributors 364',
 'Contributors 365']

In [147]:
len(contri)

23

In [150]:
len(title), len(descrption),len(language),len(contri)

(25, 23, 25, 23)

In [154]:
title=title[0:23]
len(title)

23

In [157]:
language = language[0:23]
len(language)

23

In [158]:
# Preparing data frame.

repository= pd.DataFrame({'Repository Title':title, 'Repository Description': descrption,
                         'Language':language,'Contributors': contri})
print(" Trending Repository in github\n")
repository

 Trending Repository in github

,Repository Title,Repository Description,Language,Contributors
0,CompVis / stable-diffusion,Combustion engine simulator that generates rea...,Jupyter Notebook,Contributors 3
1,ange-yaghi / engine-sim,Build faster websites with Astro's next-gen is...,C++,Contributors 4
2,withastro / astro,My personal dotfiles,TypeScript,Contributors 300
3,craftzdog / dotfiles-public,A modern replacement for Redis and Memcached,Lua,Contributors 7
4,dragonflydb / dragonfly,All Algorithms implemented in Python,C++,Contributors 18
5,TheAlgorithms / Python,OCSF Schema,Python,Contributors 827
6,microsoft / fluentui-emoji,The automation tower defense RTS,Built by,Contributors 4
7,ocsf / ocsf-schema,Convert AI papers to GUI，Make it easy and conv...,Built by,Contributors 16
8,Anuken / Mindustry,An integrated solution for authoring / importi...,Java,Contributors 466
9,Baiyuetribe / paper2gui,"OFRAK: unpack, modify, and repack binaries.",Jupyter Notebook,Contributors 2
10,Unity-Technologies / com.unity.demoteam.hair,🚀 The open-source notifications infrastructure...,C#,Contributors 2
11,redballoonsecurity / ofrak,"Best DDoS Attack Script Python3, (Cyber / DDos...",Python,Contributors 76
12,novuhq / novu,The Metadata Platform for the Modern Data Stack,TypeScript,Contributors 26
13,MatrixTM / MHDDoS,📜 33 JavaScript concepts every developer shoul...,Python,Contributors 260
14,datahub-project / datahub,EF Core is a modern object-database mapper for...,Java,Contributors 100
15,leonardomso / 33-js-concepts,📱 WhatsApp clone project demonstrates modern A...,JavaScript,Contributors 281
16,dotnet / efcore,This repository contains .NET Documentation.,C#,"Contributors 2,183"
17,GetStream / whatsApp-clone-compose,ncnn is a high-performance neural network infe...,Kotlin,Contributors 224
18,dotnet / docs,Open source documentation of Microsoft Azure,Dockerfile,"Contributors 5,000+"
19,Tencent / ncnn,冴羽写博客的地方，预计写四个系列：JavaScript深入系列、JavaScript专题系列...,C++,Contributors 2
20,MicrosoftDocs / azure-docs,An open-source C++ library developed and used ...,PowerShell,Contributors 679
21,mqyqingfeng / Blog,OpenVINO™ Toolkit repository,Built by,Contributors 364
22,facebook / folly,"Apache Doris is an easy-to-use, high performan...",C++,Contributors 365

## Q6: Scrape the details of top 100 songs on billboard.com. Url=https://www.billboard.com/. You have to find the following details:
A)Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

In [2]:
#importing required libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings("ignore") 
import time    



from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By


#importing common exceptions
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

In [3]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
#Getting url
url = 'https://www.billboard.com/'
driver.get(url)

In [7]:
#clicking on menu
menu=driver.find_element(By.XPATH, '/html/body/div[3]/header/div[1]/div/div/div[1]/button').click()

In [9]:
#click on Hot 100 
hot_100_tag=driver.find_element(By.XPATH,'/html/body/div[3]/div[6]/div/div/div/ul/li[1]/ul/li[2]/a').click()

In [15]:
# scrapping song detail
#web element for song title
xyz_tag=driver.find_elements(By.ID, "title-of-a-story")
xyz=[]
for i in xyz_tag:
    xyz.append(i.text)
len(xyz)

419

In [16]:
# scraping 100 sons out of it
song = list(filter (lambda k: k!= '', xyz))
song=song[:100]

In [19]:
# scrapping all details
artist=[]
art_tag= driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
for i in art_tag:
    artist.append(i.text)
    

last_rank=[]
last_tag=driver.find_elements(By.XPATH, '/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[3]')
for i in last_tag:
    last_rank.append(i.text)

peak_rank=[]
peak_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[4]/span')
for i in peak_tag:
    peak_rank.append(i.text)

weeks_on=[]
w_board_tag=driver.find_elements(By.XPATH, '/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[5]/span')
for i in w_board_tag:
    weeks_on.append(i.text)

In [20]:
# Make data frame of hot 100 from https://www.billboard.com/
Hot_100 = pd.DataFrame({})
Hot_100['Song_name']= song
Hot_100['Artist_name'] = artist
Hot_100['Last_week_rank'] = last_rank 
Hot_100['Peak_rank'] = peak_rank
Hot_100['Weeks_on_chart'] = weeks_on 
Hot_100

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_chart
0,Break My Soul,Beyonce,,,
1,About Damn Time,Lizzo,,,
2,As It Was,Harry Styles,,,
3,Running Up That Hill (A Deal With God),Kate Bush,,,
4,Wait For U,Future Featuring Drake & Tems,,,
...,...,...,...,...,...
95,Until I Found You,Stephen Sanchez,,,
96,Un Ratito,Bad Bunny,,,
97,Best Thing Since Backroads,Jake Owen,,,
98,La Corriente,Bad Bunny & Tony Dize,,,
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,,,

In [26]:
driver.close()

## 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details:
A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

In [27]:
#fetching driver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [46]:
#getting the specified url
url = "https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)
time.sleep(3)

In [48]:
#Fetching search button,bar xpath and clicking on it
#searching for web elements  for search job bar usng id
search_jobs = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search_jobs.send_keys("Data Science")

In [49]:
search_btn = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button').click()

In [50]:
#Creating empty list
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [53]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,'//a[@class="ellipsis"]/span[1]')[:48]:
    Name.append(i.text)
time.sleep(5)


#Scraping data of Designation
for i in driver.find_elements(By.XPATH, '//span[@class="ellipsis clr"]')[:48]:
    Designation.append(i.text)
time.sleep(5)

#Scraping data of company name
for i in driver.find_elements(By.XPATH, '//a[2][@class="ellipsis"]')[:48]:
    Company.append(i.text)
time.sleep(5)
    
#scraping data of Skills 
for i in driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')[:48]:
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(5)

#Scraping data of locations
for i in driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')[:48]:
    Location.append(i.text)
time.sleep(5)

In [59]:
Location= Location[0:48]

In [60]:
#DATA FRAMEING
Naukri=pd.DataFrame({})
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Skills'] = Skills
Naukri['Location'] = Location

In [61]:
#Printing data frame
Naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

In [62]:
driver.close()

## 8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details:
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [63]:
#fetching driver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [64]:
#getting the specified url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(3)

In [65]:
Book_name=[]
Author=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [66]:
#scraping data of book names
for i in driver.find_elements(By.XPATH, '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]'):
    Book_name.append(i.text)


(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')


    
#Scraping data of author names
for i in driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]'):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author.append(i.text)
    except NoSuchElementException:
        Author.append('-')
time.sleep(1)


#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH, '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]'):
    Volumes_sold.append(i.text)

    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH, '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]'):
    Publisher.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]'):
    Genre.append(i.text)

In [68]:
#DATA FRAMEING
Novel=pd.DataFrame({})
Novel['Book Name'] = Book_name
Novel['Author'] = Author
Novel['Volume sold'] = Volumes_sold
Novel['Publisher'] = Publisher
Novel['Genre'] = Genre

In [69]:
#Printing data frame
Novel

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [70]:
driver.close()

## 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [71]:
#fetching driver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [72]:
#getting the specified url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(3)

In [73]:
#Creating empty lists.
Genre = []
Run_time = []
Ratings = []
votes = []

In [81]:
#Scraping data of Names & Year
Name=[]
Year_span=[]
tv_tag=driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]')
for i in tv_tag:
    Name.append((i.text).split('(')[0])
    Year_span.append((i.text).split('(')[1])

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]'):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH, '//p[@class="text-muted text-small"]/span[3]'):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]'):
    Ratings.append(i.text)

    
#Scraping data of votes
votes=[]
temp=[]
vote_tag=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[2]')
for i in vote_tag:
    temp.append(i.text)
for i in range(1,len(temp),2):
    votes.append(temp[i])

In [82]:
Name = Name[0:100]
Year_span =Year_span [0:100]
Genre =Genre[0:100]
Run_time =Run_time[0:100]
Ratings=Ratings[0:100]
votes=votes[0:100]

In [83]:
#DATA FRAMEING
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = votes

In [84]:
#Printing data frame
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,1. Game of Thrones,2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,022,654"
1,2. Stranger Things,2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,119,940"
2,3. The Walking Dead,2010–2022),"Drama, Horror, Thriller",44 min,8.2,"960,280"
3,4. 13 Reasons Why,2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"287,077"
4,5. The 100,2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"246,659"
...,...,...,...,...,...,...
95,96. Reign,2013–2017),Drama,42 min,7.4,"49,281"
96,97. A Series of Unfortunate Events,2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,186"
97,98. Criminal Minds,2005–2020),"Crime, Drama, Mystery",42 min,8.1,"193,491"
98,99. Scream: The TV Series,2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,826"
99,100. The Haunting of Hill House,2018),"Drama, Horror, Mystery",572 min,8.6,"233,588"

In [85]:
driver.close()

## 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

In [86]:
#fetching driver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [87]:
#getting the specified url
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(3)

In [88]:
#fetching the required tags and looping it
view_all_tag=driver.find_element(By.XPATH, '/html/body/table[2]/tbody/tr/td/span/b/a')
view_all_tag.click()

In [90]:
dataset=[]
datatype=[]
Task=[]
attr_type=[]
instances=[]
attributes=[]
year=[]

In [93]:
#scrapping details using ty except

try:                              
    for i in range(1):
        for j in driver.find_elements(By.XPATH,'//p[@class="normal"]/b'):
            dataset.append(j.text)
except:
    dataset.append("-")


try:
    for i in range(1):
        for j in driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p'):
            datatype.append(j.text)
except:
    datatype.append("-")


try:
    for i in range(1):
        for j in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p'):
            Task.append(j.text)
except:
    Task.append("-")


try:
    for i in range(1):
        for j in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p'):
            attr_type.append(j.text)
except:
    attr_type.append("-")
    

try:
    for i in range(1):
        for j in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p'):
            instances.append(j.text)
except:
    instances.append("-")
    

try:
    for i in range(1):
        for j in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p'):
            attributes.append(j.text)
except:
    attributes.append("-")
    

try:
    for i in range(1):
        for j in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p'):
            year.append(j.text)
except:
    year.append("-")

In [105]:
#DATA FRAMEING
UCIML=pd.DataFrame({})
UCIML['Dataset name'] = dataset
UCIML['Data type'] = datatype
UCIML['Task'] = Task
UCIML['Attribute type'] = attr_type
UCIML['No of instances'] = instances
UCIML['No of attribute'] = attributes
UCIML['Year'] = year

In [106]:
UCIML

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Adult,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Annealing,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Arrhythmia,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Regression,Integer,35040,11,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Maternal Health Risk Data Set,Multivariate,Classification,"Integer, Real",400,50,2020
620,Room Occupancy Estimation,,Classification,,1014,7,2020
621,Image Recognition Task Execution Times in Mobi...,"Multivariate, Time-Series",Classification,Real,10129,16,2021

In [107]:
driver.close()