## WEB SCRAPPING USING SELENIUM ASSIGNMENT

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
#installing selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\nidsi\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\nidsi\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\nidsi\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nidsi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cffi>=1.14 in c:\users\nidsi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\nidsi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\nidsi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\nidsi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\nidsi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\nidsi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\nidsi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\nidsi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\nidsi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nidsi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\nidsi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\nidsi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\nidsi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\nidsi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nidsi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# importing all required libraries
import selenium
from selenium import webdriver 
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
from selenium.webdriver.common.by import By

In [6]:
#searching for web elements  for search job bar usng id
search_jobs = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_jobs

In [7]:
#writing on search bar
search_jobs.send_keys("Data Analyst")

In [8]:
search_locn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [9]:
search_locn.send_keys("Bangalore")

In [10]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [11]:
search_btn.click()

## EXTRACTING JOB TITLES

In [12]:
#scrapping data from  website
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [13]:
job_title = []

for i in title_tags:
    job_title.append(i.text)
len(job_title)

20

In [14]:
job_title

['Associate - Data Analyst',
 'Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Master Data Management Business Analyst',
 'Hiring For Data Analyst',
 'Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst II',
 'Senior Data Management Analyst',
 'Data Analyst - Python/Artificial Intelligence',
 'Performance Data Analyst',
 'Happay - Data Analyst',
 'Data Analyst']

## EXTRACTING COMPANY NAME

In [15]:
Company_tags =driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(Company_tags)

20

In [16]:
company_name = []

for i in Company_tags:
    company_name.append(i.text)
len(company_name)

20

In [17]:
company_name

['Myntra',
 'Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Accenture',
 'Flipkart',
 'Wipro',
 'Optum',
 'Optum',
 'Meesho',
 'Nuance India',
 'Cerner',
 'Wells Fargo',
 'iMindYourBusiness',
 'Fluence',
 'Happay-Expense Management Solution for Businesses',
 'Kititan Co., Ltd']

## EXTRACTING EXPERIENCE

In [18]:
experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experience_tags)

20

In [19]:
experience = []

for i in experience_tags:
    experience.append(i.text)
len(experience)

20

In [20]:
experience

['0-2 Yrs',
 '6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '4-7 Yrs',
 '0-2 Yrs',
 '2-5 Yrs',
 '1-2 Yrs',
 '5-10 Yrs']

## EXTRACTING LOCATION

In [21]:
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [22]:
location = []

for i in location_tags:
    location.append(i.text)
len(location)

20

In [23]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram, Chennai, Mumbai (All Areas), Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, New Delhi, Hyderabad/Secunderabad, Chennai, Mumbai (All Areas)']

## EXTRACTING SALARY

In [24]:
salary_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(salary_tags)

20

In [25]:
salary = []

for i in salary_tags:
    salary.append(i.text)
len(salary)

20

In [26]:
salary

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '3,00,000 - 7,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '50,000 - 1,00,000 PA.']

## Checking length of all extracted data to make an exact data frame

In [27]:
len(job_title),len(company_name),len(experience),len(location),len(salary)

(20, 20, 20, 20, 20)

In [28]:
# creating data frame
job_df = pd.DataFrame()
job_df['JOB TITLE'] = job_title
job_df['COMPANY'] = company_name
job_df['EXPERIENCE'] = experience
job_df['LOCATION'] = location
job_df['SALARY'] = salary
job_df

,JOB TITLE,COMPANY,EXPERIENCE,LOCATION,SALARY
0,Associate - Data Analyst,Myntra,0-2 Yrs,Bangalore/Bengaluru,Not disclosed
1,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Not disclosed
2,Sr Data Analyst,Thomson Reuters,5-8 Yrs,Bangalore/Bengaluru,Not disclosed
3,Senior Data Analysis Analyst,Capco,7-12 Yrs,"Bangalore/Bengaluru, Pune, Chennai","10,00,000 - 20,00,000 PA."
4,Job opportunity For Data Analyst at Trellance ...,CURise Analytics Pvt. Ltd.,0-2 Yrs,"Bangalore/Bengaluru, Ahmedabad",Not disclosed
5,Data Analyst,Thomson Reuters,2-3 Yrs,Bangalore/Bengaluru,Not disclosed
6,Senior Data Analyst,KrazyBee,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road),Not disclosed
7,Master Data Management Business Analyst,Accenture,6-8 Yrs,Bangalore/Bengaluru,Not disclosed
8,Hiring For Data Analyst,Flipkart,2-5 Yrs,Bangalore/Bengaluru,"3,00,000 - 7,00,000 PA."
9,Data Analyst,Wipro,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Not disclosed
10,Associate Data Analyst,Optum,2-7 Yrs,Bangalore/Bengaluru,Not disclosed
11,Associate Data Analyst,Optum,1-4 Yrs,Bangalore/Bengaluru,Not disclosed
12,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
13,Financial Data Analyst,Nuance India,3-8 Yrs,Bangalore/Bengaluru,Not disclosed
14,Data Analyst II,Cerner,2-4 Yrs,Bangalore/Bengaluru,Not disclosed
15,Senior Data Management Analyst,Wells Fargo,4-7 Yrs,Bangalore/Bengaluru,Not disclosed
16,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,0-2 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Not disclosed
17,Performance Data Analyst,Fluence,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
18,Happay - Data Analyst,Happay-Expense Management Solution for Businesses,1-2 Yrs,Bangalore/Bengaluru,Not disclosed
19,Data Analyst,"Kititan Co., Ltd",5-10 Yrs,"Bangalore/Bengaluru, Kolkata, New Delhi, Hyder...","50,000 - 1,00,000 PA."

## BUT WE ARE ASKED TO EXTRACT ONLY 10 DATA OUT OF  THE ABOVE DATA SET SO THE FINAL OUTPUT IS:

In [29]:
job_df[0:10]

,JOB TITLE,COMPANY,EXPERIENCE,LOCATION,SALARY
0,Associate - Data Analyst,Myntra,0-2 Yrs,Bangalore/Bengaluru,Not disclosed
1,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Not disclosed
2,Sr Data Analyst,Thomson Reuters,5-8 Yrs,Bangalore/Bengaluru,Not disclosed
3,Senior Data Analysis Analyst,Capco,7-12 Yrs,"Bangalore/Bengaluru, Pune, Chennai","10,00,000 - 20,00,000 PA."
4,Job opportunity For Data Analyst at Trellance ...,CURise Analytics Pvt. Ltd.,0-2 Yrs,"Bangalore/Bengaluru, Ahmedabad",Not disclosed
5,Data Analyst,Thomson Reuters,2-3 Yrs,Bangalore/Bengaluru,Not disclosed
6,Senior Data Analyst,KrazyBee,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road),Not disclosed
7,Master Data Management Business Analyst,Accenture,6-8 Yrs,Bangalore/Bengaluru,Not disclosed
8,Hiring For Data Analyst,Flipkart,2-5 Yrs,Bangalore/Bengaluru,"3,00,000 - 7,00,000 PA."
9,Data Analyst,Wipro,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Not disclosed

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually. #

In [30]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [31]:
url = 'https://www.naukri.com/'
driver.get(url)

In [32]:
#searching for web elements  for search job bar usng id
search_jobs = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_jobs

In [33]:
#SEARCHING FOR DESIRED DESIGNATION
search_jobs.send_keys("Data Scientist")

In [34]:
#SEARCHING FOR DESIRED LOCATION
search_locn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn.send_keys("Bangalore")

In [35]:
#clicking on search button
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn.click()

## EXTRACTING DESIRED DATA

EXTRACTING JOB TITLES

In [36]:
title_tag =driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tag)

20

In [37]:
Job_title = []

for i in title_tag:
    Job_title.append(i.text)
len(Job_title)

20

In [38]:
Job_title

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Hiring For Senior Data Scientist',
 'Dataiku Consultant',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'EY GBS - Assistant Director - Data Science (10+ years), Bangalore',
 'Data Scientist',
 'Data Scientist, Personalization',
 'AWS Sagemaker',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - IN3']

EXTRACTING COMPANY NAME

In [39]:
company_tags =driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [40]:
Company_name = []

for i in company_tags:
    Company_name.append(i.text)
Company_name

['Wipro',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Wipro',
 'Applied Materials',
 'PwC',
 'IBM',
 'IBM',
 'Schneider Electric',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm',
 'UPL',
 'EYGBS',
 'IBM',
 'Walmart',
 'Wipro',
 'Wipro',
 'IBM',
 'Walmart']

EXTRACTING EXPERIENCE

In [41]:
Experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(Experience_tags)

20

In [42]:
Experience = []

for i in Experience_tags:
    Experience.append(i.text)
Experience

['11-21 Yrs',
 '8-13 Yrs',
 '10-16 Yrs',
 '4-7 Yrs',
 '6-10 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '7-10 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '5-9 Yrs',
 '9-13 Yrs',
 '1-4 Yrs',
 '10-17 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '7-12 Yrs',
 '9-14 Yrs',
 '3-7 Yrs',
 '2-5 Yrs']

EXTRACTING LOCATION

In [43]:
Location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(Location_tags)

20

In [44]:
Location = []

for i in Location_tags:
    Location.append(i.text)
Location

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

EXTRACTING SALARY

In [45]:
Salary_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(Salary_tags)

20

In [46]:
Salary = []

for i in Salary_tags:
    Salary.append(i.text)
Salary

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '35,00,000 - 50,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '20,00,000 - 30,00,000 PA.',
 '20,00,000 - 35,00,000 PA.',
 'Not disclosed',
 'Not disclosed']

Checking length of all extracted data to make an exact data frame

In [47]:
len(Job_title),len(Company_name),len(Experience),len(Location),len(Salary)

(20, 20, 20, 20, 20)

MAKING DATA FRAME OF SCRAPPED(EXTRACTED) DATA

In [48]:
# CREATING DATA FRAME
job_df1 = pd.DataFrame()
job_df1['JOB TITLE'] = Job_title
job_df1['COMPANY'] = Company_name
job_df1['EXPERIENCE'] = Experience
job_df1['LOCATION'] = Location
job_df1['SALARY'] = Salary
job_df1

,JOB TITLE,COMPANY,EXPERIENCE,LOCATION,SALARY
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,11-21 Yrs,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Not disclosed
1,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),8-13 Yrs,"Bangalore/Bengaluru, Pune",Not disclosed
2,Dataiku Consultant,Wipro,10-16 Yrs,"Bangalore/Bengaluru, Pune, Chennai",Not disclosed
3,Data Scientist,Applied Materials,4-7 Yrs,Bangalore/Bengaluru,Not disclosed
4,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,6-10 Yrs,Bangalore/Bengaluru,Not disclosed
5,Data Scientist: Advanced Analytics,IBM,2-7 Yrs,Bangalore/Bengaluru,Not disclosed
6,Research Scientist,IBM,3-7 Yrs,Bangalore/Bengaluru,Not disclosed
7,Principal - Data Scientist,Schneider Electric,7-10 Yrs,Bangalore/Bengaluru,Not disclosed
8,Research and Development -AI/ML -(PhD ),EXL,4-8 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Not disclosed
9,Opportunity For Data Scientist - Female Candid...,PayU,1-3 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Not disclosed
10,Senior Data Science Engineer,Fractal Analytics,5-9 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Not disclosed
11,Data Science - Engineering Manager,Paytm,9-13 Yrs,"Bangalore/Bengaluru, Noida, Mumbai",Not disclosed
12,Data Scientist,UPL,1-4 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)",Not disclosed
13,EY GBS - Assistant Director - Data Science (10...,EYGBS,10-17 Yrs,Bangalore/Bengaluru,"35,00,000 - 50,00,000 PA."
14,Data Scientist,IBM,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
15,"Data Scientist, Personalization",Walmart,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
16,AWS Sagemaker,Wipro,7-12 Yrs,Bangalore/Bengaluru\n(WFH during Covid),"20,00,000 - 30,00,000 PA."
17,Data Scientist,Wipro,9-14 Yrs,Bangalore/Bengaluru\n(WFH during Covid),"20,00,000 - 35,00,000 PA."
18,Data Scientist: Artificial Intelligence,IBM,3-7 Yrs,Bangalore/Bengaluru,Not disclosed
19,Data Scientist - IN3,Walmart,2-5 Yrs,Bangalore/Bengaluru,Not disclosed

# BUT WE ARE ASKED TO EXTRACT ONLY 10 DATA OUT OF  THE ABOVE DATA SET SO THE FINAL OUTPUT IS:

In [50]:
job_df1[0:10]

,JOB TITLE,COMPANY,EXPERIENCE,LOCATION,SALARY
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,11-21 Yrs,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Not disclosed
1,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),8-13 Yrs,"Bangalore/Bengaluru, Pune",Not disclosed
2,Dataiku Consultant,Wipro,10-16 Yrs,"Bangalore/Bengaluru, Pune, Chennai",Not disclosed
3,Data Scientist,Applied Materials,4-7 Yrs,Bangalore/Bengaluru,Not disclosed
4,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,6-10 Yrs,Bangalore/Bengaluru,Not disclosed
5,Data Scientist: Advanced Analytics,IBM,2-7 Yrs,Bangalore/Bengaluru,Not disclosed
6,Research Scientist,IBM,3-7 Yrs,Bangalore/Bengaluru,Not disclosed
7,Principal - Data Scientist,Schneider Electric,7-10 Yrs,Bangalore/Bengaluru,Not disclosed
8,Research and Development -AI/ML -(PhD ),EXL,4-8 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Not disclosed
9,Opportunity For Data Scientist - Female Candid...,PayU,1-3 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Not disclosed

## Q3: In this question you have to scrape data using the filters available on the webpage as given:
You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

first get the webpage https://www.naukri.com/

Enter “Data Scientist” in “Skill, Designations, and Companies” field.

Then click the search button.

Then apply the location filter and salary filter by checking the respective boxes

Then scrape the data for the first 10 jobs results you get

In [51]:
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [52]:
url = 'https://www.naukri.com/'
driver.get(url)

In [53]:
#searching for web elements  for search job bar usng id
search_jobs = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_jobs

In [54]:
#writing on search bar
search_jobs.send_keys("Data Scientist")

In [55]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn.click()

In [56]:
#clicking on desired location filter
check_delhi = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]")
check_delhi.click()

In [57]:
#clicking on desired salary filter
check_pay = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]")
check_pay.click()

## EXTRACTING DESIRED DETAILS

 EXTRACTING JOB TITLE

In [58]:
job_tag =driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(job_tag)

20

In [59]:
Job = []

for i in job_tag:
    Job.append(i.text)
len(Job)

20

In [60]:
Job

['DigitalBCG GAMMA Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Data Scientist - Machine learning AI',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Engine Algorithm',
 'Knowledge/Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Science',
 'Data Science',
 'Machine Learning Seniors',
 'Data Scientist',
 'Hiring || Data Scientist || North Delhi || 5.5 days working',
 'Data scientist- Python',
 'Dot Net Developer',
 'Data Engineer']

EXTRACTING JOB LOCATION

In [61]:
job_locn =driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(job_locn)

20

In [62]:
Job_Location = []

for i in job_locn:
    Job_Location.append(i.text)
Job_Location

['New Delhi, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Hyderabad/Secunderabad, New Delhi',
 'Gurgaon/Gurugram',
 'Delhi / NCR(Netaji Subhash Place)',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Gurgaon/Gurugram',
 'Mumbai, New Delhi, Pune']

EXTRACTING COMANY NAME

In [63]:
comp_name =driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(comp_name)

20

In [64]:
Company_name = []

for i in comp_name:
    Company_name.append(i.text)
Company_name

['Boston Consulting Group',
 'Black Turtle',
 'EXL',
 '8KMiles Software Services',
 '8KMiles Software Services',
 'Teq Analytics',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Primo Hiring',
 'BOLD Technology Systems',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Sydata Consulting India Pvt Ltd',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Walking Tree Consultancy Services pvt Ltd',
 'Kellton Tech Solutions',
 'Shriram Automall',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Nibha Infotech Private Limited',
 'excellence']

EXTRACTING EXPERIENCE REQUIRED

In [65]:
exp_reqd =driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_reqd)

20

In [67]:
Experience_reqd = []

for i in exp_reqd:
    Experience_reqd.append(i.text)
Experience_reqd

['2-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '4-9 Yrs']

In [68]:
#checking lenth of all scrapped data set before making a data frame
len(Job),len(Job_Location),len(Company_name),len(Experience_reqd)

(20, 20, 20, 20)

In [69]:
# creating data frame
job_frame = pd.DataFrame()
job_frame['JOB'] = Job
job_frame['LOCATION'] = Job_Location
job_frame['COMPANY NAME'] = Company_name
job_frame['EXPERIENCE REQURED'] = Experience_reqd
job_frame

,JOB,LOCATION,COMPANY NAME,EXPERIENCE REQURED
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
5,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
10,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
11,Data Scientist,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Sydata Consulting India Pvt Ltd,3-8 Yrs
12,Data Science,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",Mount Talent Consulting Private Limited,2-5 Yrs
13,Data Science,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",Mount Talent Consulting Private Limited,2-5 Yrs
14,Machine Learning Seniors,"Hyderabad/Secunderabad, New Delhi",Walking Tree Consultancy Services pvt Ltd,2-5 Yrs
15,Data Scientist,Gurgaon/Gurugram,Kellton Tech Solutions,3-6 Yrs
16,Hiring || Data Scientist || North Delhi || 5.5...,Delhi / NCR(Netaji Subhash Place),Shriram Automall,4-9 Yrs
17,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
18,Dot Net Developer,"Delhi / NCR, Gurgaon/Gurugram",Nibha Infotech Private Limited,3-8 Yrs
19,Data Engineer,"Mumbai, New Delhi, Pune",excellence,4-9 Yrs

# BUT WE ARE ASKED TO EXTRACT ONLY 10 DATA OUT OF  THE ABOVE DATA SET SO THE FINAL OUTPUT IS:

In [70]:
job_frame[0:10]

,JOB,LOCATION,COMPANY NAME,EXPERIENCE REQURED
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
5,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com.
You have to scrape four attributes:

Brand
Product Description
Price 
The attributes which you have to scrape is ticked marked in the given image . 
To scrape the data you have to go through following steps:
Go to Flipkart webpage by url : https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual
After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
Now scrape data from this page as usual
Repeat this until you get data for 100 sunglasses

In [71]:
#looking for web driver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [72]:
#opening link
url = 'https://www.flipkart.com/'
driver.get(url)

In [73]:
#searching foe sunglasses
search_product = driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys("sunglasses")

In [76]:
#clicking on search
search_click = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_click.click()

## EXTRACTING DESIRED DATA

 EXTRACTING BRAND NAME

In [77]:
brand_tag =driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_tag)

40

In [78]:
Brand = []

for i in brand_tag:
    Brand.append(i.text)
Brand

['VINCENT CHASE',
 'povty',
 'DAHAAZIL',
 'Fastrack',
 'New Specs',
 'SUNBEE',
 'Elligator',
 'GANSTA',
 'SUNBEE',
 'PIRASO',
 'SRPM',
 'john jacobs',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'Lee Topper',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'Mi',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'Sewell',
 'NuVew',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Sewell',
 'Lee Topper',
 'Sewell']

 EXTRACTING SUNGLASS TYPE

In [79]:
type_tag =driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(type_tag)

40

In [80]:
Sunglass_type = []

for i in type_tag:
    Sunglass_type.append(i.text)
Sunglass_type

['by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (46)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'by Lenskart UV Protection Rectangular Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (52)',
 'UV Protection Over-sized Sunglasses (61)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Polarized Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (68)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized Butterfly Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized Butterfly Sunglasses (Free Size)']

 EXTRACTING PRICE

In [81]:
price_tag =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tag)

40

In [82]:
Price = []

for i in price_tag:
    Price.append(i.text)
Price

['₹749',
 '₹319',
 '₹177',
 '₹639',
 '₹264',
 '₹259',
 '₹315',
 '₹314',
 '₹283',
 '₹224',
 '₹224',
 '₹3,000',
 '₹195',
 '₹799',
 '₹639',
 '₹749',
 '₹224',
 '₹359',
 '₹306',
 '₹699',
 '₹299',
 '₹474',
 '₹246',
 '₹799',
 '₹226',
 '₹839',
 '₹719',
 '₹1,234',
 '₹759',
 '₹410',
 '₹164',
 '₹616',
 '₹291',
 '₹279',
 '₹1,039',
 '₹711',
 '₹331',
 '₹265',
 '₹229',
 '₹616']

EXTRACTING OFFERS

In [83]:
offer_tag =driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(offer_tag)

40

In [84]:
Offer = []

for i in offer_tag:
    Offer.append(i.text)
Offer

['62% off',
 '68% off',
 '82% off',
 '20% off',
 '89% off',
 '80% off',
 '87% off',
 '84% off',
 '78% off',
 '85% off',
 '82% off',
 '50% off',
 '88% off',
 '20% off',
 '20% off',
 '62% off',
 '85% off',
 '86% off',
 '88% off',
 '65% off',
 '88% off',
 '76% off',
 '84% off',
 '60% off',
 '85% off',
 '30% off',
 '20% off',
 '50% off',
 '15% off',
 '84% off',
 '86% off',
 '69% off',
 '76% off',
 '78% off',
 '20% off',
 '64% off',
 '83% off',
 '82% off',
 '82% off',
 '69% off']

In [85]:
#checking length of data scrapped data
len(Brand),len(Sunglass_type),len(Price),len(Offer)

(40, 40, 40, 40)

BUT DESIRED AMOUT OF DATA TO BE SCRAPPED IS 100 ,SO WE NEED TO CLICK ON NEXT BUTTON TO GET MORE DATA

In [86]:
#GOING TO NEXT BUTTON FOR EXTRACTING MORE DATA
next_btn = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [87]:
#clicking on next button
next_btn.click()

## EXTRACTING DATA (41-80)FROM NEXT PAGE

 EXTRACTING BRAND NAME(41-80)

In [88]:
brand_tag =driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_tag)

40

In [89]:
Brand = []

for i in brand_tag:
    Brand.append(i.text)
Brand

['ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'New Specs',
 'kingsunglasses',
 'povty',
 'PIRASO',
 'LIZA ANGEL',
 'CRYSTAL CART',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'Lee Topper',
 'ROYAL SON',
 'ROYAL SON',
 'DEIXELS',
 'ROYAL SON',
 'VINCENT CHASE',
 'AISLIN',
 'Silver Kartz',
 'PIRASO',
 'Arnette',
 'Elligator',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROYAL SON',
 'CRYSTAL CART',
 'PHENOMENAL',
 'ROYAL SON',
 'john jacobs',
 'New Specs',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'hipe',
 'Lee Topper',
 'Elligator',
 'Fastrack',
 'VINCENT CHASE']

 EXTRACTING SUNGLASS TYPE

In [90]:
type_tag =driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(type_tag)

40

In [91]:
Sunglass_type = []

for i in type_tag:
    Sunglass_type.append(i.text)
Sunglass_type

['UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (61)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (55)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Others Oval Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Mirrored Aviator Sunglasses (58)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (46)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized, UV Protection Round Sunglasses (50)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...']

EXTRACTING PRICE

In [92]:
price_tag =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tag)

40

In [93]:
Price = []

for i in price_tag:
    Price.append(i.text)
Price

['₹303',
 '₹719',
 '₹1,039',
 '₹379',
 '₹379',
 '₹299',
 '₹194',
 '₹319',
 '₹246',
 '₹199',
 '₹189',
 '₹699',
 '₹719',
 '₹189',
 '₹219',
 '₹616',
 '₹699',
 '₹224',
 '₹379',
 '₹799',
 '₹498',
 '₹288',
 '₹223',
 '₹5,749',
 '₹219',
 '₹749',
 '₹379',
 '₹759',
 '₹529',
 '₹369',
 '₹379',
 '₹3,000',
 '₹154',
 '₹749',
 '₹849',
 '₹233',
 '₹245',
 '₹379',
 '₹899',
 '₹949']

EXTRACTING OFFER

In [94]:
offer_tag =driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(offer_tag)

40

In [96]:
Offer = []

for i in offer_tag:
    Offer.append(i.text)
Offer

['79% off',
 '20% off',
 '20% off',
 '81% off',
 '74% off',
 '81% off',
 '80% off',
 '68% off',
 '84% off',
 '80% off',
 '68% off',
 '53% off',
 '20% off',
 '85% off',
 '78% off',
 '69% off',
 '65% off',
 '81% off',
 '74% off',
 '60% off',
 '67% off',
 '80% off',
 '86% off',
 '10% off',
 '78% off',
 '62% off',
 '74% off',
 '62% off',
 '74% off',
 '81% off',
 '74% off',
 '50% off',
 '89% off',
 '70% off',
 '57% off',
 '76% off',
 '75% off',
 '74% off',
 '10% off',
 '52% off']

In [100]:
#checking length of data scrapped data from page 2
len(Brand),len(Sunglass_type),len(Price),len(Offer)

(40, 40, 40, 40)

STILL THE TOTAL DATA SCRAPPED IS 40+40=80, BUT WE NEED TO SCRAP DATA UNLESS IT IS 100 ,SO WE NEED TO GO TO NEXT PAGE

In [97]:
#CLICKING ON NEXT BUTTON
next_btn2 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn2.click()

## EXTRACTING DATA (81-120)FROM NEXT PAGE

EXTRACTING BRAND NAME(81-120)

In [98]:
brand_tag =driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_tag)

40

In [99]:
Brand = []

for i in brand_tag:
    Brand.append(i.text)
Brand

['SUNBEE',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'povty',
 'Rich Club',
 'Fastrack',
 'New Specs',
 'VINCENT CHASE',
 'Singco India',
 'Singco India',
 'Fastrack',
 'john jacobs',
 'kingsunglasses',
 'Rich Club',
 'kingsunglasses',
 'VINCENT CHASE',
 'New Specs',
 'kingsunglasses',
 'AISLIN',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'Mi',
 'Sewell',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'Sewell',
 'ROYAL SON',
 'ROYAL SON',
 'Urbanic',
 'GANSTA']

EXTRACTING SUNGLASS TYPE(81-120)

In [101]:
type_tag =driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(type_tag)

40

In [102]:
Sunglass_type = []

for i in type_tag:
    Sunglass_type.append(i.text)
Sunglass_type

['UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (46)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'by Lenskart UV Protection Rectangular Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'Polarized Butterfly Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Polarized Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'Polarized, UV Protection Sports Sunglasses (68)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Butterfly Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'Others Oval Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...']

EXTRACTING PRICE(81-120)

In [103]:
price_tag =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tag)

40

In [105]:
Price = []

for i in price_tag:
    Price.append(i.text)
Price

['₹283',
 '₹474',
 '₹379',
 '₹319',
 '₹265',
 '₹759',
 '₹268',
 '₹749',
 '₹598',
 '₹664',
 '₹899',
 '₹3,000',
 '₹329',
 '₹260',
 '₹269',
 '₹749',
 '₹214',
 '₹269',
 '₹498',
 '₹699',
 '₹599',
 '₹269',
 '₹899',
 '₹616',
 '₹949',
 '₹949',
 '₹639',
 '₹799',
 '₹324',
 '₹405',
 '₹217',
 '₹1,234',
 '₹379',
 '₹809',
 '₹679',
 '₹616',
 '₹664',
 '₹664',
 '₹499',
 '₹314']

EXTRACTING OFFER FROM PAGE 3(81-120)

In [106]:
offer_tag =driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(offer_tag)

40

In [107]:
Offer = []

for i in offer_tag:
    Offer.append(i.text)
Offer

['78% off',
 '78% off',
 '81% off',
 '68% off',
 '62% off',
 '15% off',
 '79% off',
 '62% off',
 '80% off',
 '79% off',
 '10% off',
 '50% off',
 '79% off',
 '67% off',
 '85% off',
 '62% off',
 '86% off',
 '82% off',
 '67% off',
 '65% off',
 '25% off',
 '82% off',
 '25% off',
 '69% off',
 '52% off',
 '52% off',
 '20% off',
 '60% off',
 '80% off',
 '84% off',
 '78% off',
 '50% off',
 '81% off',
 '10% off',
 '15% off',
 '69% off',
 '66% off',
 '66% off',
 '49% off',
 '84% off']

SCRAPPED DESIRED DATA UNTIL THE COUNT IS 100

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button. 
s shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [121]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [122]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [123]:
#searching for web elements  for search job bar usng id
search_mob = driver.find_element(By.CLASS_NAME,"_3704LK")
search_mob.send_keys('iphone 11 black 64 gb')

In [124]:
#CLICKING ON SEARCH BUTTON
search = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [125]:
#clicking on iphone
iphone = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]")
iphone.click()

In [120]:
#getting url on new opened link after clicking previously
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11+black+64+gb&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=98154f65-ca95-466c-8fa0-8d213146c3da.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=nwhhaywwjk0000001657731543169&qH=5f530f2df85791a0'
driver.get(url)

WebDriverException: Message: chrome not reachable
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D36463+2188387]
	Ordinal0 [0x00CCE461+1762401]
	Ordinal0 [0x00BE3C40+801856]
	Ordinal0 [0x00BD8932+756018]
	Ordinal0 [0x00BD9168+758120]
	Ordinal0 [0x00BDAA22+764450]
	Ordinal0 [0x00BD4379+738169]
	Ordinal0 [0x00BE50D0+807120]
	Ordinal0 [0x00C3C402+1164290]
	Ordinal0 [0x00C2C5F6+1099254]
	Ordinal0 [0x00C06BE0+945120]
	Ordinal0 [0x00C07AD6+948950]
	GetHandleVerifier [0x00FD71F2+2712546]
	GetHandleVerifier [0x00FC886D+2652765]
	GetHandleVerifier [0x00DC002A+520730]
	GetHandleVerifier [0x00DBEE06+516086]
	Ordinal0 [0x00CD468B+1787531]
	Ordinal0 [0x00CD8E88+1805960]
	Ordinal0 [0x00CD8F75+1806197]
	Ordinal0 [0x00CE1DF1+1842673]
	BaseThreadInitThunk [0x75CF6739+25]
	RtlGetFullPathName_UEx [0x76F78FEF+1215]
	RtlGetFullPathName_UEx [0x76F78FBD+1165]

In [ ]:
reviews = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[5]/div/a")
reviews.click()

 EXTRACTING RATING

In [128]:
rate_tag =driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(rate_tag)

0

# SHARING THIS IPYNB FILE SEPARATELY OF QUESTION 5

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the  search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [129]:
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [130]:
#GETTING DESIRED LINK
url = 'https://www.flipkart.com/'
driver.get(url)

In [131]:
#searching foe sunglasses
search_product = driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys("sneakers")

In [132]:
search_click = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_click.click()

## EXTRACTING DESIRED DATA

 EXTRACTING BRAND NAME

In [133]:
brand1_tag =driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand1_tag)

40

In [134]:
Brand1 = []

for i in brand1_tag:
    Brand1.append(i.text)
len(Brand1)

40

In [135]:
Brand1

['Scull Wings',
 'Shoes Icon',
 'WOODLAND',
 'BRUTON',
 'SFR',
 'BRUTON',
 'Labbin',
 'ZF - ALFIYA',
 'URBANBOX',
 'Magnolia',
 'aadi',
 'LAADSAHAB',
 'BIRDE',
 'BIRDE',
 'Chevit',
 'World Wear Footwear',
 'PUMA',
 'KWIK FIT',
 'ONECENTRE',
 'STRANGER BROTHERS',
 'ASTEROID',
 'HOTSTYLE',
 'corsac',
 'Shoes Icon',
 'CLYMB',
 'BIRDE',
 'aadi',
 'DLS',
 'BRUTON',
 'Noztile',
 'PUMA',
 'ANTA',
 'SCATCHITE',
 'Kraasa',
 'Dizzler',
 'KEYTAR',
 'Kraasa',
 'PEXLO',
 'Kzaara',
 'KEYTAR']

 EXTRACTING SNEAKERS TYPE

In [136]:
type1_tag =driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(type1_tag)

29

In [137]:
Sneakers_type = []

for i in type1_tag:
    Sneakers_type.append(i.text)
len(Sneakers_type)

29

In [138]:
Sneakers_type

['Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Puma Smash v2 L Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'STR2 Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 'Anta Blade Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Sneakers For Men']

EXTRACTING PRICE

In [139]:
price1_tag =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price1_tag)

40

In [140]:
Price1 = []

for i in price1_tag:
    Price1.append(i.text)
len(Price1)

40

In [141]:
Price1

['₹499',
 '₹399',
 '₹1,797',
 '₹284',
 '₹289',
 '₹299',
 '₹449',
 '₹449',
 '₹219',
 '₹449',
 '₹359',
 '₹599',
 '₹398',
 '₹442',
 '₹649',
 '₹296',
 '₹1,658',
 '₹397',
 '₹299',
 '₹496',
 '₹474',
 '₹284',
 '₹474',
 '₹439',
 '₹559',
 '₹398',
 '₹299',
 '₹349',
 '₹284',
 '₹414',
 '₹1,854',
 '₹2,085',
 '₹379',
 '₹539',
 '₹435',
 '₹438',
 '₹539',
 '₹707',
 '₹259',
 '₹399']

EXTRACTING OFFERS

In [142]:
offer_tag =driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(offer_tag)

40

In [143]:
Offer = []

for i in offer_tag:
    Offer.append(i.text)
len(Offer)

40

In [144]:
Offer

['66% off',
 '60% off',
 '40% off',
 '78% off',
 '71% off',
 '76% off',
 '55% off',
 '55% off',
 '78% off',
 '55% off',
 '64% off',
 '60% off',
 '60% off',
 '55% off',
 '65% off',
 '40% off',
 '52% off',
 '80% off',
 '51% off',
 '66% off',
 '76% off',
 '71% off',
 '68% off',
 '56% off',
 '62% off',
 '60% off',
 '70% off',
 '65% off',
 '78% off',
 '79% off',
 '47% off',
 '47% off',
 '62% off',
 '46% off',
 '39% off',
 '56% off',
 '46% off',
 '52% off',
 '74% off',
 '60% off']

## GOING TO NEXT PAGE FOR EXTRACTING MORE DATA

In [145]:
#GOING TO NEXT BUTTON FOR EXTRACTING MORE DATA
next_btn = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [146]:
#clicking on next button
next_btn.click()

## EXTRACTING DATA (41-80)FROM NEXT PAGE

EXTRACTING BRAND NAME

In [148]:
brand1_tag =driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand1_tag)

40

In [149]:
Brand1 = []

for i in brand1_tag:
    Brand1.append(i.text)
Brand1

['Kraasa',
 'PUMA',
 'Layasa',
 'Wildcraft',
 'BIRDE',
 'D-SNEAKERZ',
 'Robbie jones',
 'Scull Wings',
 'BRUTON',
 'Rzisbo',
 'Shoes Bank',
 'Shoes Icon',
 'BRUTON',
 'ASTEROID',
 'KNIGHT WALKERS',
 'ZF - ALFIYA',
 'DUKE',
 'Magnolia',
 'WHITE WALKERS',
 'LAADSAHAB',
 'AMICO',
 'aadi',
 'Numenzo',
 'luxury fashion',
 'Airland',
 'SPARX',
 'Airland',
 'World Wear Footwear',
 'Aragats',
 'Chevit',
 'Stinson',
 'Shoes Icon',
 'LE GREEM',
 'Numenzo',
 'luxury fashion',
 'DLS',
 'India hub',
 'PUMA',
 'BIRDE',
 'AERAMBOL']

 EXTRACTING SNEAKERS TYPE

In [150]:
type1_tag =driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(type1_tag)

32

In [151]:
Sneakers_type = []

for i in type1_tag:
    Sneakers_type.append(i.text)
Sneakers_type

['Series 7 Sneakers For Men',
 'Smash v2 L Sneakers For Men',
 'Sneakers For Men',
 'True Black Shoe Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'SS1100 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 '411 Casual Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 '1259 smart black lace-ups sneakers for men Sneakers For...',
 'Men White Sneakers Sneakers For Men',
 'sneaker men red 1258 - 9 Sneakers For Men',
 'Casual Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'ST Activate V2 Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...']

EXTRACTING PRICE

In [152]:
price1_tag =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price1_tag)

40

In [153]:
Price1 = []

for i in price1_tag:
    Price1.append(i.text)
Price1

['₹539',
 '₹1,924',
 '₹499',
 '₹1,339',
 '₹353',
 '₹299',
 '₹449',
 '₹499',
 '₹269',
 '₹464',
 '₹297',
 '₹399',
 '₹199',
 '₹474',
 '₹664',
 '₹449',
 '₹1,047',
 '₹449',
 '₹599',
 '₹599',
 '₹494',
 '₹899',
 '₹402',
 '₹379',
 '₹239',
 '₹764',
 '₹246',
 '₹296',
 '₹521',
 '₹466',
 '₹249',
 '₹439',
 '₹424',
 '₹509',
 '₹399',
 '₹349',
 '₹397',
 '₹1,469',
 '₹442',
 '₹246']

EXTRACTING OFFERS

In [154]:
offer_tag =driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(offer_tag)

40

In [155]:
Offer = []

for i in offer_tag:
    Offer.append(i.text)
Offer

['46% off',
 '45% off',
 '50% off',
 '48% off',
 '64% off',
 '54% off',
 '55% off',
 '66% off',
 '79% off',
 '53% off',
 '70% off',
 '60% off',
 '66% off',
 '52% off',
 '66% off',
 '55% off',
 '68% off',
 '55% off',
 '50% off',
 '60% off',
 '50% off',
 '55% off',
 '79% off',
 '87% off',
 '52% off',
 '15% off',
 '50% off',
 '40% off',
 '47% off',
 '57% off',
 '50% off',
 '56% off',
 '57% off',
 '83% off',
 '69% off',
 '65% off',
 '80% off',
 '58% off',
 '55% off',
 '71% off']

## GOING TO NEXT PAGE AND EXTRACTING MORE DATA UNTIL DATA COUNT IS 100.

In [156]:
#clicking on next button
next_btn2 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn2.click()

## EXTRACTING DATA (81-120)FROM NEXT PAGE

EXTRACTING BRAND NAME(81-120)

In [157]:
brand1_tag =driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand1_tag)

40

In [158]:
Brand1 = []

for i in brand1_tag:
    Brand1.append(i.text)
Brand1

['T-ROCK',
 'Layasa',
 'BRUTON',
 'Wildcraft',
 'corsac',
 'aadi',
 'ROCKFIELD',
 'Scull Wings',
 'Eiffel',
 'WHITE WALKERS',
 'U.S. POLO ASSN.',
 'Shoes Icon',
 'URBANBOX',
 'WHITE WALKERS',
 'Magnolia',
 'ZF - ALFIYA',
 'PUMA',
 'PEXLO',
 'Robbie jones',
 'corsac',
 'PUMA',
 'Xtoon',
 'PUMA',
 'luxury fashion',
 'luxury fashion',
 'ZF Klub',
 'Kzaara',
 'LAADSAHAB',
 'Chevit',
 'aadi',
 'BRUTON',
 'AERAMBOL',
 'RapidBox',
 'PUMA',
 'DUNKASTON',
 'STRANGER BROTHERS',
 'PEXLO',
 'Layasa',
 'Bata',
 'World Wear Footwear']

 EXTRACTING SNEAKERS TYPE

In [160]:
type1_tag =driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(type1_tag)

28

In [162]:
Sneakers_type = []

for i in type1_tag:
    Sneakers_type.append(i.text)
Sneakers_type

['Stylish Party Wear Casual Sneakers Shoes For Men Sneake...',
 'Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'True Black Shoe Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'CLARKIN Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 3 Casual Shoes, Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'R78 Sneakers For Men',
 "White casual, gym,training & Running sneakers for men's...",
 'Brave Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Kzaara Sneakers Casual Canvas shoes | Branded Stylish O...',
 'Sneakers For Men',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Blend Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual & Sports Shoes (Loafers Shoes) S...',
 'Sneakers For Men',
 'Canvas Sneaker Sneakers For Men']

EXTRACTING PRICE

In [163]:
price1_tag =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price1_tag)

40

In [171]:
Price1 = []

for i in price1_tag:
    Price1.append(i.text)
Price1 = Price1[0:20]
Price1

WebDriverException: Message: chrome not reachable
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D36463+2188387]
	Ordinal0 [0x00CCE461+1762401]
	Ordinal0 [0x00BE3C40+801856]
	Ordinal0 [0x00BD8932+756018]
	Ordinal0 [0x00BD9168+758120]
	Ordinal0 [0x00BDAA22+764450]
	Ordinal0 [0x00BD4379+738169]
	Ordinal0 [0x00BE50D0+807120]
	Ordinal0 [0x00C3C402+1164290]
	Ordinal0 [0x00C2C5F6+1099254]
	Ordinal0 [0x00C06BE0+945120]
	Ordinal0 [0x00C07AD6+948950]
	GetHandleVerifier [0x00FD71F2+2712546]
	GetHandleVerifier [0x00FC886D+2652765]
	GetHandleVerifier [0x00DC002A+520730]
	GetHandleVerifier [0x00DBEE06+516086]
	Ordinal0 [0x00CD468B+1787531]
	Ordinal0 [0x00CD8E88+1805960]
	Ordinal0 [0x00CD8F75+1806197]
	Ordinal0 [0x00CE1DF1+1842673]
	BaseThreadInitThunk [0x75CF6739+25]
	RtlGetFullPathName_UEx [0x76F78FEF+1215]
	RtlGetFullPathName_UEx [0x76F78FBD+1165]

EXTRACTING OFFERS

In [165]:
offer_tag =driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(offer_tag)

40

In [170]:
Offer = []

for i in offer_tag:
    Offer.append(i.text)
Offer

['30% off',
 '45% off',
 '77% off',
 '48% off',
 '66% off',
 '77% off',
 '71% off',
 '66% off',
 '53% off',
 '50% off',
 '40% off',
 '60% off',
 '64% off',
 '50% off',
 '57% off',
 '55% off',
 '36% off',
 '75% off',
 '55% off',
 '76% off',
 '41% off',
 '50% off',
 '56% off',
 '87% off',
 '78% off',
 '60% off',
 '75% off',
 '60% off',
 '67% off',
 '50% off',
 '76% off',
 '73% off',
 '36% off',
 '56% off',
 '70% off',
 '66% off',
 '66% off',
 '50% off',
 '2% off',
 '40% off']

In [167]:
Offer= Offer[0:20]

In [169]:
Offer

['30% off',
 '45% off',
 '77% off',
 '48% off',
 '66% off',
 '77% off',
 '71% off',
 '66% off',
 '53% off',
 '50% off',
 '40% off',
 '60% off',
 '64% off',
 '50% off',
 '57% off',
 '55% off',
 '36% off',
 '75% off',
 '55% off',
 '76% off']

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the given image. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the given image.

In [172]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [173]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [174]:
#clicking desired price filter
check_price = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
check_price.click()

In [175]:
#clicking desired color filter
check_color = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
check_color.click()

EXTRACTING DESIRED DATA

EXTRACTING BRAND OF THE SHOES

In [176]:
brand_tag =driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
len(brand_tag)

50

In [201]:
Brand_name = []

for i in brand_tag:
    Brand_name.append(i.text)
Brand_name = Brand_name[0:10] #scrapping 10 data as required
Brand_name

WebDriverException: Message: chrome not reachable
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D36463+2188387]
	Ordinal0 [0x00CCE461+1762401]
	Ordinal0 [0x00BE3C40+801856]
	Ordinal0 [0x00BD8932+756018]
	Ordinal0 [0x00BD9168+758120]
	Ordinal0 [0x00BDAA22+764450]
	Ordinal0 [0x00BD4379+738169]
	Ordinal0 [0x00BE50D0+807120]
	Ordinal0 [0x00C3C402+1164290]
	Ordinal0 [0x00C2C5F6+1099254]
	Ordinal0 [0x00C06BE0+945120]
	Ordinal0 [0x00C07AD6+948950]
	GetHandleVerifier [0x00FD71F2+2712546]
	GetHandleVerifier [0x00FC886D+2652765]
	GetHandleVerifier [0x00DC002A+520730]
	GetHandleVerifier [0x00DBEE06+516086]
	Ordinal0 [0x00CD468B+1787531]
	Ordinal0 [0x00CD8E88+1805960]
	Ordinal0 [0x00CD8F75+1806197]
	Ordinal0 [0x00CE1DF1+1842673]
	BaseThreadInitThunk [0x75CF6739+25]
	RtlGetFullPathName_UEx [0x76F78FEF+1215]
	RtlGetFullPathName_UEx [0x76F78FBD+1165]

EXTRACTING PRODUCT DESCRIPTION

In [178]:
short_description =driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
len(short_description)

50

In [179]:
Short_description = []

for i in short_description:
    Short_description.append(i.text)
Short_description

['Men React Infinity 3 Running',
 'Eternity Nitro Running Shoes',
 'Men Colourblocked Sneakers',
 'Men Go Walk 5 Walking Shoes',
 'Men KD 15 Basketball Shoes',
 'Men SRG 3 FK Training Shoes',
 'Men Zoom C Pro HC Tennis Shoes',
 'Women React MR 3 Running Shoes',
 'Women React Escape Running',
 'Women Free Metcon 4 Training',
 'Men Solid Leather Formal Slip-Ons',
 'Unisex Court Rider Shoes',
 'Men Solar Glide 4 ST Running',
 'Men Sky Vault Walking Shoes',
 'Men HOVR Sonic SE Running Shoe',
 'Unisex TRC Blaze Sneakers',
 'Men FUSE Performance Training',
 'Men UA Charged Vantage 2 Run',
 'Men MAX CUSHIONING ELITE-LUCID',
 'Men Defiant Generation Tennis',
 'Men Walking Shoes',
 'Women SN1997 Running Shoes',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men Solid Oznova Sneakers',
 'Men Adizero Boston 11 Running',
 'Unisex Wild Rider Sneakers',
 'Men Woven Design Suede Sneakers',
 'Men Black Walking Shoes',
 'Men Leather Sneakers',
 'Fives Blaze Court Basketball',
 'Men RS-Z Molded Men Sneakers',
 'Men Woven Design Suede Sneakers',
 'Men Lightweight Sneakers',
 'Men ENIGMA Running Shoes',
 'Women KarlieKlossX9000 Running',
 'Men Formal Derbys',
 'Women Hovr Sonic SE Run Shoes',
 'Men Leather Slip-Ons',
 'Leather High-Top Heeled Boots',
 'Men Deviate Nitro Shoes',
 'Men Velocity Nitro Running',
 'Men Mid-Top Suede Sneakers',
 'Leather Flatform Sandals',
 'Women Eternity NITRO Shoes',
 'Men Velocity Nitro 2 Running',
 'Men GEL-GLYDE 3 MX Running',
 'Leather Ankle Boots',
 'Men GEL-Quantum 360 6 Sports',
 'Women SL20.3 Running Shoes',
 'Men Textured Sneakers']

EXTRACTING PRICE

In [180]:
price_tag =driver.find_elements(By.XPATH,'//div[@class="product-price"]')
len(price_tag)

50

In [200]:
Price = []

for i in price_tag:
    Price.append(i.text)

Price

['89,990',
 '57,890',
 '53,999',
 '75,903',
 '87,900',
 '82,990',
 '1,26,990',
 '56,995',
 '94,990',
 '86,990']

## GOING TO NEXT PAGE AND EXTRACTING MORE DATA UNTIL DATA COUNT IS 100.

In [182]:
#CLICKING ON NEXT BUTTON
next_btn = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a")
next_btn.click()

EXTRACTING MORE DATA FROM NEXT PAGE

EXTRACTING BRAND OF THE SHOES FROM NEXT PAGE

In [183]:
brand_tag =driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
len(brand_tag)

50

In [184]:
Brand_name = []

for i in brand_tag:
    Brand_name.append(i.text)
Brand_name

['Skechers',
 'Hush Puppies',
 'Puma',
 'Puma',
 'Columbia',
 'UNDER ARMOUR',
 'Puma',
 'ASICS',
 'KIPRUN By Decathlon',
 'Tommy Hilfiger',
 'Puma',
 'Bugatti',
 'Saint G',
 'Cole Haan',
 'Heel & Buckle London',
 'Geox',
 'PUMA Motorsport',
 'Geox',
 'Geox',
 'Louis Philippe',
 'J.FONTINI',
 'Bugatti',
 'Geox',
 'Heel & Buckle London',
 'fitflop',
 'Clarks',
 'Geox',
 'Columbia',
 'Hush Puppies',
 'Saint G',
 'Geox',
 'ADIDAS Originals',
 'DAVINCHI',
 'TOMS',
 'Geox',
 'Saint G',
 'fitflop',
 'TOMS',
 'ROSSO BRUNELLO',
 'J.FONTINI',
 'ROSSO BRUNELLO',
 'Geox',
 'PUMA Motorsport',
 'Puma',
 'Columbia',
 'Geox',
 'Geox',
 'Puma',
 'Geox',
 'Saint G']

EXTRACTING PRODUCT DESCRIPTION FROM NEXT PAGE

In [185]:
short_description =driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
len(short_description)

50

In [186]:
Short_description = []

for i in short_description:
    Short_description.append(i.text)
Short_description

['Men Textured Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Women Electrify Nitro Running',
 'Women Magnify Nitro Running',
 'Women Trekking Shoes',
 'Women Charged Breeze Running',
 'Men M Nitro Running Shoess',
 'GEL-Pulse 13 Running Shoes',
 'Men Running Shoes',
 'Men Solid Suede Sneakers',
 'Unisex KING Pro 21 Football',
 'Men Textured Leather High-Top Flat Boots',
 'Leather Block Sandals',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Sneakers',
 'Leather Block Sandals',
 'Men PL Low Racer Men Sneakers',
 'Men Textured Leather Sneakers',
 'Men Perforations Sneakers',
 'Men Textured Leather Loafers',
 'Men Solid Loafers',
 'Men Black Formal Derby Shoes',
 'Women Ballerinas Flats',
 'Men Textured Leather Formal Loafers',
 'Flatform Sandals with Buckles',
 'Men Woven Design Suede Flat Boots',
 'Men Leather Sneakers',
 'Cascade Peak II Jacket',
 'Men Solid Formal Slip-Ons',
 'Men Solid Leather Formal Boots',
 'Men Leather Sneakers',
 'Women Ozelia Sneakers',
 'Men Textured Formal Leather Loafers',
 'Men Alpargata Slip-On Sneakers',
 'Men Leather Sneakers',
 'Leather Block Sandals with Buckles',
 'Embellished Leather Flatform Sandals',
 'Men Sneakers',
 'Men Leather Slip-On Sneakers',
 'Men Leather Fashion',
 'Men Perforations Leather Slip-On Sneakers',
 'Women Leather Slip-On Sneakers',
 'Women Sneakers',
 'Women RS-Z Luminous Sneakers',
 'Women REDMOND V2 TrekkingShoe',
 'Textured Leather Block Pumps',
 'Leather Block Pumps',
 'Women Running Sports Shoes',
 'Women Leather Sneakers',
 'Leather Block']

EXTRACTING PRICE FROM NEXT PAGE

In [187]:
price_tag =driver.find_elements(By.XPATH,'//div[@class="product-price"]')
len(price_tag)

50

In [188]:
Price = []

for i in price_tag:
    Price.append(i.text)
Price

['Rs. 7999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7999',
 'Rs. 7372Rs. 10099(27% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 11999',
 'Rs. 11192Rs. 13990(20% OFF)',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 9990',
 'Rs. 12591Rs. 13990(10% OFF)',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 11999',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 11192Rs. 13990(20% OFF)',
 'Rs. 7499',
 'Rs. 7899Rs. 9999(21% OFF)',
 'Rs. 12990',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 9900Rs. 12500(Rs. 2600 OFF)',
 'Rs. 13990',
 'Rs. 9349Rs. 10999(15% OFF)',
 'Rs. 8990',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 12990',
 'Rs. 8505Rs. 10500(19% OFF)',
 'Rs. 8299',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8049Rs. 11499(30% OFF)',
 'Rs. 8490',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7999',
 'Rs. 8393Rs. 11990(30% OFF)',
 'Rs. 8393Rs. 11990(30% OFF)',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 12990',
 'Rs. 9975Rs. 10500(5% OFF)']

SCRAPPED 100 DATA DETAILS FROM WEBSITE

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the given image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

Title
Ratings
Price

In [189]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [190]:
#getting url
url ='https://www.amazon.in/'
driver.get(url)

In [191]:
#searching for laptop
search_laptop = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_laptop.send_keys("laptop")

In [192]:
#clicking on search icon
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span")
search_btn.click()

In [193]:
#cpu filter(APPLYING DESIRED FILTER)
check_cpu = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[2]/li[12]/span/a/div")
check_cpu.click()

## EXTRACTING DESIRED DATA

In [194]:
#SCRAPPING TITLE
title_tag = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
len(title_tag)

24

In [202]:
Title = []
for i in title_tag:
        Title.append(i.text)
Title = Title [0:10] #scrapping 10 data as required
Title

['ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Infinix INBook X1 Pro Core i7 10th Gen - (16 GB/512 GB SSD/Windows 11 Home) XL12 Thin and Light Laptop (14 Inch, Noble Red, 1.48 kg)',
 'Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN',
 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12650H 12th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Office 2021/Black/2 kg), FX517ZM-HN041WS',
 '(Renewed) Dell Intel Core i7 7th Gen 14.Inch(35.6 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (32GB RAM /2TB HDD/Windows 10 Pro/MS Office/Intel HD Integrated Graphics/ Black/1.18Kg,Black) Latitude E7480',
 'Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-inch (35.56cm) FHD TN Antiglare Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/Microsoft Office H&S 2021/FPR/Black/1.59 kg), 20TAS1B400',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU']

EXTRACTING PRICE

In [196]:
price_tag = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
len(price_tag)

24

In [203]:
Price =[]
for i in price_tag:
    Price.append(i.text)
Price = Price [0:10] #scrapping 10 data as required
Price

['89,990',
 '57,890',
 '53,999',
 '75,903',
 '87,900',
 '82,990',
 '1,26,990',
 '56,995',
 '94,990',
 '86,990']

EXTRACTING RATING

In [198]:
rate_tag = driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
len(rate_tag)

12

In [204]:
Rating =[]
for i in rate_tag:
    Rating.append(i.text)
Rating = Rating [0:10]
Rating

['', '', '', '', '', '', '', '', '', '']

NOTE -IMAGE OF RATING STARS COULD NOT BE EXTRACTED.

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:

1.First get the webpage https://www.ambitionbox.com/

2.Click on the Job option as shown in the given image


3.After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.

4.You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.

5.Then scrape the data for the first 10 jobs results you get on the above shown page.

6.Finally create a dataframe of the scraped data

In [205]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [206]:
#getting url
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [207]:
#clicking on Jobs key
job_btn = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
job_btn.click()

In [208]:
#searching for desired job
search_job=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input") 
search_job.send_keys('Data Scientist')

In [209]:
#clicking on desired search option
search_btn = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_btn.click()

In [210]:
#clicking on location
locn_btn = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]")
locn_btn.click()

In [211]:
#writing desired location in location search bar
search_locn=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input") 
search_locn.send_keys('Noida')

In [212]:
#clicking on desired location
locn_noida = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
locn_noida.click()

# EXTRACTING DESIRED DATA

EXTRACING DESIGNATION

In [214]:
desn_tag = driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
len(desn_tag)

10

In [215]:
Designation = []

for i in desn_tag:
    Designation.append(i.text)
Designation

['Senior Data Scientist',
 'Data Scientist- Forecasting and R or Python',
 'Data Scientist - Machine Learning Algorithms (3-8 yrs)',
 'Data Scientist - Machine Learning/Big Data (0-4 yrs)',
 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)',
 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)',
 'LatentBridge - Data Scientist - Python/R (2-6 yrs)',
 'Data Science Trainer | AI | Machine Learning | Python |',
 'Principal Scientist - Machine Learning - IT (15-26 yrs)',
 'Data Scientist - NLP']

EXTRACTING COMPANY NAME

In [216]:
title_tag = driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
len(title_tag)

10

In [217]:
Company = []

for i in title_tag:
    Company.append(i.text)
Company

['Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'Dew Solutions Pvt. Ltd.',
 'InfoEdge India Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'Latent bridge',
 'Careerera',
 'Careernet Consulting',
 'Acidaes Solutions Pvt. Ltd.']

EXTRACTING OHER INFORMATIONS

In [218]:
info_tag = driver.find_elements(By.XPATH,'//div[@class="other-info"]')
len(info_tag)

10

In [219]:
Other_Information = []

for i in info_tag:
    Other_Information.append(i.text)
Other_Information

['7-12 Yrs\nNot Disclosed\nNoida\nr, python, data science +6 more\n9d ago·via naukri.com',
 '7-12 Yrs\n₹ 12-20 LPA\nNoida\nData Science, arima, predictive modeling +5 more\n15d ago·via naukri.com',
 '3-8 Yrs\nGurgaon/Gurugram, Bengaluru/Bangalore, Pune +2 more\nData Scientist, Data Science, Machine Learning +5 more\n7d ago·via hirist.com',
 '0-4 Yrs\nNoida\nData Science, Machine Learning, Deep Learning +5 more\n13d ago·via hirist.com',
 '0-2 Yrs\nNoida\nData Scientist, Data Management, PhD +6 more\n14d ago·via hirist.com',
 '3-5 Yrs\nNoida\nData Scientist, Data Management, PhD +5 more\n14d ago·via hirist.com',
 '2-6 Yrs\nGurgaon/Gurugram, Delhi NCR, Noida\nData Science, Data Scientist, Data Management +5 more\n14d ago·via hirist.com',
 '2-7 Yrs\n₹ 4.75-9.75 LPA\nNoida\nData Science, data science faculty, Corporate Trainer +6 more\n2d ago·via naukri.com',
 '15-26 Yrs\nNoida\nMachine Learning, Data Science, Data Scientist +4 more\n28d ago·via iimjobs.com',
 '3-8 Yrs\nNot Disclosed\nNoida\nBayesian Networks, deep learning, MLops +5 more\n14d ago·via naukri.com']

## MAKING DATAFRAME OF EXTRACTED DATA

In [220]:
#CHECKING LENGTH OF ALL SCRAPPED DATA
len(Designation),len(Company),len(Other_Information)

(10, 10, 10)

In [221]:
# creating data frame
jobs_df = pd.DataFrame()
jobs_df['DESIGNATION'] = Designation
jobs_df['COMPANY_NAME'] = Company
jobs_df['OTHER INFORMATION'] = Other_Information
jobs_df

,DESIGNATION,COMPANY_NAME,OTHER INFORMATION
0,Senior Data Scientist,Optum Global Solutions (India) Private Limited,"7-12 Yrs\nNot Disclosed\nNoida\nr, python, dat..."
1,Data Scientist- Forecasting and R or Python,GENPACT India Private Limited,"7-12 Yrs\n₹ 12-20 LPA\nNoida\nData Science, ar..."
2,Data Scientist - Machine Learning Algorithms (...,Dew Solutions Pvt. Ltd.,"3-8 Yrs\nGurgaon/Gurugram, Bengaluru/Bangalore..."
3,Data Scientist - Machine Learning/Big Data (0-...,InfoEdge India Ltd.,"0-4 Yrs\nNoida\nData Science, Machine Learning..."
4,Info Edge - Data Scientist - Machine Learning/...,Info Edge India Limited,"0-2 Yrs\nNoida\nData Scientist, Data Managemen..."
5,Info Edge - Senior Data Scientist - Machine Le...,Info Edge India Limited,"3-5 Yrs\nNoida\nData Scientist, Data Managemen..."
6,LatentBridge - Data Scientist - Python/R (2-6 ...,Latent bridge,"2-6 Yrs\nGurgaon/Gurugram, Delhi NCR, Noida\nD..."
7,Data Science Trainer | AI | Machine Learning |...,Careerera,"2-7 Yrs\n₹ 4.75-9.75 LPA\nNoida\nData Science,..."
8,Principal Scientist - Machine Learning - IT (1...,Careernet Consulting,"15-26 Yrs\nNoida\nMachine Learning, Data Scien..."
9,Data Scientist - NLP,Acidaes Solutions Pvt. Ltd.,3-8 Yrs\nNot Disclosed\nNoida\nBayesian Networ...

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:

1.First get the webpage https://www.ambitionbox.com/

2.Click on the salaries option as shown in the image.

3.After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”. 
4.You have to scrape the data ticked in the above image.

Scrape the data for the first 10 companies. 
Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.

Store the data in a dataframe#

In [222]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\nidsi\Downloads\chromedriver_win32\chromedriver.exe')

In [223]:
#getting url
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [224]:
#clicking on salaries  
salary_btn = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
salary_btn.click()

In [225]:
#searching for desired job
search_job=driver.find_element(By.ID,'jobProfileSearchbox') #job search

search_job.send_keys('Data Scientist')

In [226]:
#clicking on desired search option
search_btn = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
search_btn.click()

# EXTRACTING REQUIRED DATA

EXTRACTING COMPANY NAME

In [227]:
cmp_name =driver.find_elements(By.XPATH,'//div[@class="company-info"]')
len(cmp_name)

25

In [228]:
Company_name= []

for i in cmp_name:
    Company_name.append(i.text)
Company_name = Company_name[0:10] # since we have to scrap only 10 details
Company_name

['Walmart\nData Scientist Salary\n3 yrs experience (based on 12 salaries)',
 'Ab Inbev\nData Scientist Salary\n3-4 yrs experience (based on 33 salaries)',
 'ZS\nData Scientist Salary\n2 yrs experience (based on 15 salaries)',
 'Optum\nData Scientist Salary\n3-4 yrs experience (based on 32 salaries)',
 'Reliance Jio\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Fractal Analytics\nData Scientist Salary\n2-4 yrs experience (based on 89 salaries)',
 'Tiger Analytics\nData Scientist Salary\n2-4 yrs experience (based on 51 salaries)',
 'UnitedHealth\nData Scientist Salary\n2-4 yrs experience (based on 57 salaries)',
 'EXL Service\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)',
 'Deloitte\nData Scientist Salary\n2-4 yrs experience (based on 69 salaries)']

EXTRACTING MINIMUM SALARY

In [230]:
min_sal =driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
len(min_sal)

20

In [231]:
Minimum_salary= []

for i in min_sal:
    Minimum_salary.append(i.text)
len(Minimum_salary)

20

In [232]:
Minimum_salary
#it will show both the minimum and maximum salary so we need to extract both independently from data scrapped below

['₹ 25.0L',
 '₹ 36.0L',
 '₹ 15.0L',
 '₹ 26.2L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 11.0L',
 '₹ 22.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 10.0L',
 '₹ 23.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 8.3L',
 '₹ 21.1L',
 '₹ 7.6L',
 '₹ 21.0L',
 '₹ 7.0L',
 '₹ 25.0L']

In [234]:
#scrapping only the minimum salary from the list
Minimum = []
i = [0,2,4,6,8,10,12,14,16,18]
for index in i:
    Minimum.append(Minimum_salary[index])
Minimum

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 7.6L',
 '₹ 7.0L']

In [235]:
#scrapping maximum salary
Maximum = []
i = [1,3,5,7,9,11,13,15,17,19]
for index in i:
    Maximum.append(Minimum_salary[index])
Maximum

['₹ 36.0L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 22.5L',
 '₹ 26.2L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L',
 '₹ 25.0L']

EXTRACTING AVERAGE SALARY

In [238]:
avg_sal =driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
len(avg_sal)

10

In [239]:
Average_salary= []

for i in avg_sal:
    Average_salary.append(i.text)
Average_salary

['₹ 30.6L',
 '₹ 20.8L',
 '₹ 16.7L',
 '₹ 15.9L',
 '₹ 15.7L',
 '₹ 15.5L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.2L',
 '₹ 12.8L']

EXTRACTING EXPERIENCE REQUIRED

In [240]:
exp_reqd =driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
len(exp_reqd)

10

In [241]:
Experience= []

for i in exp_reqd:
    Experience.append(i.text)
Experience

['3 yrs experience (based on 12 salaries)',
 '3-4 yrs experience (based on 33 salaries)',
 '2 yrs experience (based on 15 salaries)',
 '3-4 yrs experience (based on 32 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 89 salaries)',
 '2-4 yrs experience (based on 51 salaries)',
 '2-4 yrs experience (based on 57 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 69 salaries)']

In [242]:
#CHECKING LENGTH OF ALL DATA BEFORE MAKING DATA FRAME
len(Company_name),len(Minimum),len(Maximum),len(Average_salary),len(Experience)

(10, 10, 10, 10, 10)

CREATING DATA FRAME

In [243]:
# creating data frame
df = pd.DataFrame()
df['COMPANY_NAME'] = Company_name
df['MINIMUM SALARY'] = Minimum
df['MAXIMUM SALARY'] = Maximum
df['AVERAGE SALARY'] = Average_salary
df['EXPERIENCE REQUIRED'] = Experience
df

,COMPANY_NAME,MINIMUM SALARY,MAXIMUM SALARY,AVERAGE SALARY,EXPERIENCE REQUIRED
0,Walmart\nData Scientist Salary\n3 yrs experien...,₹ 25.0L,₹ 36.0L,₹ 30.6L,3 yrs experience (based on 12 salaries)
1,Ab Inbev\nData Scientist Salary\n3-4 yrs exper...,₹ 15.0L,₹ 26.2L,₹ 20.8L,3-4 yrs experience (based on 33 salaries)
2,ZS\nData Scientist Salary\n2 yrs experience (b...,₹ 11.0L,₹ 22.0L,₹ 16.7L,2 yrs experience (based on 15 salaries)
3,Optum\nData Scientist Salary\n3-4 yrs experien...,₹ 11.0L,₹ 22.5L,₹ 15.9L,3-4 yrs experience (based on 32 salaries)
4,Reliance Jio\nData Scientist Salary\n3-4 yrs e...,₹ 5.6L,₹ 26.2L,₹ 15.7L,3-4 yrs experience (based on 21 salaries)
5,Fractal Analytics\nData Scientist Salary\n2-4 ...,₹ 10.0L,₹ 23.0L,₹ 15.5L,2-4 yrs experience (based on 89 salaries)
6,Tiger Analytics\nData Scientist Salary\n2-4 yr...,₹ 9.0L,₹ 20.0L,₹ 14.8L,2-4 yrs experience (based on 51 salaries)
7,UnitedHealth\nData Scientist Salary\n2-4 yrs e...,₹ 8.3L,₹ 21.1L,₹ 14.0L,2-4 yrs experience (based on 57 salaries)
8,EXL Service\nData Scientist Salary\n3-4 yrs ex...,₹ 7.6L,₹ 21.0L,₹ 13.2L,3-4 yrs experience (based on 21 salaries)
9,Deloitte\nData Scientist Salary\n2-4 yrs exper...,₹ 7.0L,₹ 25.0L,₹ 12.8L,2-4 yrs experience (based on 69 salaries)